<h1>Lista di amministratori</h1>
<a mat-raised-button color="primary" routerLink="../{{organizationID}}/newAdministrator">New administrator</a>
<div *ngIf="administrators; else noAdministrator">
  <table>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    <tr *ngFor="let administrator of administrators" > 
          <td>{{administrator.firstname}}</td>
          <td>{{administrator.lastname}}</td>  
          <td>{{administrator.email}}</td>
          <td>{{administrator.role}}</td>
          <td>
            <mat-form-field>
                <mat-label>change role</mat-label>
                <mat-select (selectionChange)="onChange($event)">
                  <mat-option value="Manager">manager</mat-option>
                  <mat-option value="Owner">owner</mat-option>
                  <mat-option value="Watcher">watcher</mat-option>
                </mat-select>
              </mat-form-field>
              <button *ngIf="modify" (click)="save()">save</button>
            </td>
          <td><button mat-raised-button color="primary">Delete</button></td>          
    </tr>
  </table> 
</div>
<ng-template #noAdministrator>
  <h2>Nessun administratore. Creane uno!</h2>
</ng-template>