*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea/

coverage/

test-reports/connected/

test-results/connected/TEST-Pixel_2_API_29(AVD) - 10-app-.xml

app/release/
