<script src="../services/authentication.service.ts"></script>
<mat-toolbar color="primary">
  <span>Stalker</span>
</mat-toolbar>

<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Reset password</mat-card-title>
  </mat-card-header>
  <form [formGroup]="pwdForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" autocomplete="email" required>
        <mat-error>Email is required</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Reset password</button>
      <div *ngIf="isSent">Email sent!</div>
      <div *ngIf="isErr">Email not found!</div>
    </mat-card-actions>
  </form>
</mat-card>
