<mat-card>
    <mat-card-title>Crea nuovo luogo</mat-card-title>
    <form [formGroup]="this.editForm" (ngSubmit)="createPlace(editForm.value)">
        <mat-card-content>
            Value:{{editForm.value | json}}
            <mat-form-field>
            <input matInput type="text" placeholder="Approved" formControlName="approved">
            </mat-form-field>
            <div formGroupName="coordinates">
            <div formgroupName="coordinate1">
                <input matInput type="number" placeholder="latitude" formControlName="latitude" required>
                <mat-error>required</mat-error>
                <input matInput type="number" placeholder="longitude" formControlName="longitude" required>
                <mat-error>required</mat-error>
            </div>
            <div formgroupName="coordinate2">
                <input matInput type="number" placeholder="latitude" formControlName="latitude" required>
                <mat-error>required</mat-error>
                <input matInput type="number" placeholder="longitude" formControlName="longitude" required>
                <mat-error>required</mat-error>
            </div>
            <div formgroupName="coordinate3">
                <input matInput type="number" placeholder="latitude" formControlName="latitude" required>
                <mat-error>required</mat-error>
                <input matInput type="number" placeholder="longitude" formControlName="longitude" required>
                <mat-error>required</mat-error>
            </div>
            <div formgroupName="coordinate4">
                <input matInput type="number" placeholder="latitude" formControlName="latitude" required>
                <mat-error>required</mat-error>
                <input matInput type="number" placeholder="longitude" formControlName="longitude" required>
                <mat-error>required</mat-error>
            </div>
            </div>
            <mat-form-field>
            <input matInput type="text" placeholder="Name" formControlName="name" required>
            <mat-error>name is required</mat-error>
            </mat-form-field>
            <mat-form-field>
            <input matInput type="number" placeholder="Max number of people" formControlName="num_max_people" required>
            <mat-error>required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!editForm.valid">Create</button>
        </mat-card-actions>
    </form>
  
